[submodule "mininet"]
    url = https://github.com/dcgym/mininet
    path = contrib/mininet
    ignore = dirty

[submodule "goben"]
    url = https://github.com/dcgym/goben
    path = contrib/goben
    ignore = dirty

[submodule "pcc"]
    url = https://github.com/PCCproject/PCC-Kernel
    path = contrib/pcc
    ignore = dirty
